 <footer class="section " id="footer">
   <div class="overlay footer-overlay"></div>
   <!--Content -->
   <div class="container">
     <div class="row justify-content-start">
       <div class="col-lg-6 col-sm-12">
         <div class="footer-widget">
           <!-- Brand -->
           <a href="index.html" class="footer-brand text-white">
             AnagonIT
           </a>
           <p>Makes the application of your dreams come true.</p>
         </div>
         <ul class="footer-links">
          <li>
            <a><span class="text-white">Email: </span> info@anagonit.com
            </a>
          </li>
          <li>
            <a><span class="text-white">Address:</span> 530-B Harkle Road STE 100, NM 87107</a>
          </li>
          <li>
            <a><span class="text-white">Phone:</span>+1(213) 531-9814</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/anagonit"><i class="fab fa-linkedin"></i>linkedin
          </li>
        </ul>
       </div>

       <div class="col-lg-3 col-sm-6">
         <div class="footer-widget">
           <h3>Links</h3>
           <!-- Links -->
           <ul class="footer-links">
            <li>
              <a href="index.html">
                Home
              </a>
            </li>
             <li>
               <a href="service.html">
                 Services
               </a>
             </li>
             <li>
               <a href="about.html">
                 About Us
               </a>
             </li>

             <li>
               <a href="contact.html">
                 Contact
               </a>
             </li>
           </ul>
         </div>
       </div>

       
       <div class="col-lg-3 ml-lg-auto col-sm-12">
        <div class="footer-widget">
          <h3>Account</h3>
          <!-- Links -->
          <ul class="footer-links ">
            <li>
              <a href="terms.html">
                Terms and conditions
              </a>
            </li>
            <li>
              <a href="poli.html">
                Privacy policy
              </a>
            </li>
          </ul>
        </div>
      </div>
     </div> <!-- / .row -->


     <div class="row text-right pt-5">
       <div class="col-lg-12">
         <div class="overflow-hidden">
           <!-- Copyright -->
          <p class="footer-copy">
            Copyright &copy; <script>var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
          </script>. Designed &amp; Developed by <a class="current-year" href="https://anagonIT.com/">AnagonIT</a>
          </p>
         </div>
       </div>
     </div> <!-- / .row -->
   </div> <!-- / .container -->
 </footer>


 <!--  Page Scroll to Top  -->

 <a id="scroll-to-top" class="scroll-to-top js-scroll-trigger" href="#top-header">
   <i class="fa fa-angle-up"></i>
 </a>