<section id="work-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h1>We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="section-testimonial">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-sm-12 col-md-12">
        <div class="section-heading testimonial-heading">
          <h1>About the Founder</h1>
          <p>
            Get to know our founder and CEO, who brings years of experience and
            expertise to every project.
          </p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="test-inner">
              <div class="test-author-thumb d-flex">
                <img src="images/perfil.png" alt="Founder" class="img-fluid">
                <div class="test-author-info">
                  <h4>
                    Ana Gonzalez
                    <a target="_blank" href="https://www.linkedin.com/in/ana-gonzalez-9783004b/"><img src="images/ico/icons8-linkedin.svg" alt="Founder" style="height: 40px; width: 40px; border: 0px;">
                    </a>
                  </h4>
                  <h6>Founder and CEO</h6>
                </div>
              </div>
              Ana is an entrepreneur and tech expert who has held
              senior positions at several leading software companies, where she
              oversaw the development of innovative software solutions for a
              range of clients. She is passionate about harnessing the power of
              technology to drive positive change, and is committed to building
              a world-class team that delivers exceptional quality and service
              to every client.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>