<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            Services
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-5 text-white">
                            AnagonIT can be used to create anything from a small marketing page to a sophisticated website.
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-light-bulb"></i>
                        <h3>Software development</h3>
                        <p>We develop software aimed to different business segments and sectors based on technological platforms. Furthermore, we offer a wide range of software tools to provide speed in the obtaining of added value.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-desktop"></i>
                        <h3>Web Development</h3>
                        <p>Thinking about taking your project/business to the net? Our team can develop and design cross platform websites that are visually engaging, following the latest trends on UX/UI.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-announcement"></i>
                        <h3>Testing</h3>
                        <p>Our software products are built under the most rigorous conditions and tested under the most meticoulous control.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-layers-alt"></i>
                        <h3>Mobile development</h3>
                        <p>We can develop and design cross platform Apps that are visually appealing, following the latest trends on UX/UI.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-mobile"></i>
                        <h3>UX/UI Design</h3>
                        <p>Want to refresh the look and functionality of your site/app? Our highly skilled team of designers and developers can give your project a smooth and engaging user experience that will increase traffic, style, and performance in order to reach more users.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Cloud Computing</h3>
                        <p>Our Cloud Computing Services provide secure and scalable solutions for businesses to store, manage, and access their data and applications online.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>